$c-base: #41495C;
$c-modal: #3d4a68;
$c-modal-40: rgba(#3d4a68,0.4);
$c-modal-70: rgba(#3d4a68,0.7);
$c-font: #e1e1e1;
$c-button:#173f4f;
$c-g-modal: linear-gradient(
  47deg,
  #0f2027 19.11%,
  #203a43 51.09%,
  #2c5364 96.17%
);