@import "./colors";

.c-dashboard {
  display: flex;
  flex-direction: column;
  color: $c-font;
  gap: 100px;
  .small-box {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
    height: 250px;
    gap: 100px;
    .todo-Dashboard {
      padding: 30px;
      width: 400px;
      min-width: 400px;
      display: flex;
      flex-direction: column;
      gap: 40px;
      background-color: $c-modal;
      border-radius: 20px;
      .card-header {
        display: flex;
        justify-content: space-between;
        h3 {
          font-size: 32px;
          text-transform: capitalize;
        }
        button {
          height: 40px;
          width: 40px;
          border-radius: 50px;
          background: $c-g-modal;
          outline: none;
          border: none;
        }
      }
      .todo-status {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .card-text {
          font-size: 18px;
          padding-left: 5px;
        }
        div {
          display: flex;
          justify-content: space-between;
          background-color: $c-button;
          height: 50px;
          align-items: center;
          padding: 0 15px;
          border-radius: 10px;
          font-size: 18px;

          button {
            height: 25px;
            width: 25px;
            border-radius: 50px;
            border: none;
            background-color: transparent;
          }
        }
      }
    }
    .reminder-Dashboard {
      padding: 30px;
      width: 400px;
      min-width: 400px;
      display: flex;
      flex-direction: column;

      gap: 40px;
      background-color: $c-modal;
      border-radius: 20px;
      .card-header {
        display: flex;
        justify-content: space-between;
        h3 {
          font-size: 32px;
          text-transform: capitalize;
        }
        button {
          height: 40px;
          width: 40px;
          border-radius: 50px;
          background: $c-g-modal;
          outline: none;
          border: none;
        }
      }
      .reminder-status {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .card-text {
          font-size: 18px;
          padding-left: 5px;
        }
        div {
          display: flex;
          justify-content: space-between;
          background-color: $c-button;
          height: 50px;
          align-items: center;
          padding: 0 15px;
          border-radius: 10px;
          font-size: 18px;

          button {
            height: 25px;
            width: 25px;
            border-radius: 50px;
            border: none;
            background-color: transparent;
          }
        }
      }
    }
  }
  .big-box {
    background-color: $c-modal;
    height: 300px;
    padding: 30px;
    border-radius: 20px;
    .music-dashboard {
      display: flex;
      flex-direction: column;
      gap: 40px;

      .m-d-header {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        h3 {
          text-align: center;
          font-size: 32px;
          text-transform: capitalize;
          grid-column-start: 2;
        }
        button {
          float: right;
          height: 40px;
          width: 40px;
          border-radius: 50px;
          background: $c-g-modal;
          outline: none;
          border: none;
          grid-column-start: 3;
        }
      }
      .m-d-component {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        .m-details {
          display: flex;
          flex-direction: column;
          gap: 10px;
          text-align: center;
          .m-title {
            font-size: 24px;
          }
          .m-artist {
            font-size: 16px;
          }
        }
        .c-player {
          display: flex;
          flex-direction: column;
          gap: 10px;
          align-items: center;
          .audio-contols {
            display: flex;
            gap: 15px;
            // .current-time {

            // }
            input[type="range"] {
              width: 1000px;
          
            }
            // .duration {

            // }
          }
          .c-player--controls {
            display: flex;
            justify-content: center;
            gap: 10px;

            button {
              width: 40px;
              height: 40px;
              border-radius: 50px;
              border: none;
              outline: none;
            }
          }
        }
      }
    }
  }
}
