:root {
  $c-base: #303a52;
  $c-font: #e1e1e1;
  $c-modal: #3d4a68;
  $c-g-modal: linear-gradient(
    47deg,
    #0f2027 19.11%,
    #203a43 51.09%,
    #2c5364 96.17%
  );
}

.content {
  height: 100vh;
  margin-left: 300px;
  padding: 75px 100px;
}
