.todo-app {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 250px 300px;
  -ms-grid-columns: 1fr 1fr;
      grid-template: 250px 300px/ 1fr 1fr;
  gap: 20px;
  margin: 10px;
  padding: 20px;
  border-radius: 25px;
  height: calc(100%-120px);
}

.todo-app h3 {
  color: #e1e1e1;
  font-size: 28px;
  text-transform: capitalize;
  border-bottom: 4px solid #e1e1e1;
  padding: 5px;
}

.todo-app .todo-choose-button {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.todo-app .todo-choose-button button {
  padding: 0 20px;
  height: 30px;
  border-radius: 10px;
  background-color: #3d4a68;
  color: #e1e1e1;
  font-size: 16px;
  font-weight: 500;
  border: none;
  outline: none;
  -webkit-box-shadow: 0px 0px 5px 0px #6f8eda;
          box-shadow: 0px 0px 5px 0px #6f8eda;
}

.todo-app .advance-input {
  height: auto;
  padding: 30px 30px 50px 30px;
  background-color: #3d4a68;
  border-radius: 20px;
}

.todo-app .advance-input .input-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.todo-app .advance-input .input-heading .name-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.todo-app .advance-input .input-heading .name-section input[type="text"] {
  width: 70%;
  height: 25px;
  padding: 5px 10px;
  height: 30px;
  width: 300px;
}

.todo-app .advance-input .input-heading .name-section input[type="submit"] {
  height: 30px;
  padding: 0 10px;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  border-radius: 5px;
}

.todo-app .advance-input .input-heading .close-button button {
  height: 30px;
  width: 30px;
  border-radius: 30px;
  background: linear-gradient(47deg, #0f2027 19.11%, #203a43 51.09%, #2c5364 96.17%);
  color: #e1e1e1;
  border: 1px solid #6f8eda;
  outline: none;
}

.todo-app .advance-input .category-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  margin: 10px 0 35px 0;
}

.todo-app .advance-input .category-section select {
  height: 20px;
  padding: 0 5px;
}

.todo-app .advance-input .form-container {
  margin-top: 20px;
}

.todo-app .advance-input .form-container .assignment-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.todo-app .advance-input .form-container .assignment-form .container-title {
  width: 100%;
  font-size: 16px;
  color: #e1e1e1;
  padding-bottom: 10px;
  border-bottom: 1px solid #6f8eda;
  padding-left: 10px;
}

.todo-app .advance-input .form-container .assignment-form .panel-form {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.todo-app .advance-input .form-container .assignment-form .left-panel {
  width: 60%;
}

.todo-app .advance-input .form-container .assignment-form .left-panel .detail-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.todo-app .advance-input .form-container .assignment-form .left-panel .detail-date input {
  width: 70%;
  height: 25px;
  padding: 5px 10px;
}

.todo-app .advance-input .form-container .assignment-form .left-panel .link-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.todo-app .advance-input .form-container .assignment-form .left-panel .link-detail input {
  width: 70%;
  height: 25px;
  padding: 5px 10px;
}

.todo-app .advance-input .form-container .assignment-form .left-panel .desc-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.todo-app .advance-input .form-container .assignment-form .left-panel .desc-detail textarea {
  width: 70%;
  height: 25px;
  padding: 5px 10px;
  height: 100px;
  overflow-y: visible;
  resize: none;
}

.todo-app .advance-input .form-container .assignment-form .right-panel {
  width: calc(40% - 30px);
}

.todo-app .advance-input .form-container .assignment-form .right-panel .sub-task-list {
  height: 125px;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.todo-app .advance-input .form-container .assignment-form .right-panel .sub-task-list .sub-task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.todo-app .advance-input .form-container .assignment-form .right-panel .sub-task-list .sub-task input {
  width: 70%;
  height: 25px;
  padding: 5px 10px;
}

.todo-app .advance-input .form-container .assignment-form .right-panel .sub-task-list .sub-task button {
  height: 25px;
  width: 25px;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.todo-app .advance-input .form-container .assignment-form .right-panel .add-task {
  margin-top: 10px;
  margin: 0 auto;
}

.todo-app .advance-input .form-container .assignment-form .right-panel .add-task button {
  width: 80px;
  height: 25px;
  border-radius: 5px;
  background-color: rgba(111, 142, 218, 0.5);
  color: #e1e1e1;
  border: none;
  outline: none;
}

.todo-app .advance-input .form-container .assignment-form .right-panel .pomodoro-link {
  width: 150px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin: 10px 0 0 auto;
  border-radius: 10px;
}

.todo-app .show-detail-todo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  color: #e1e1e1;
  margin-top: 20px;
  background-color: #3d4a68;
  padding: 20px 40px;
  border-radius: 20px;
}

.todo-app .show-detail-todo .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 10px;
}

.todo-app .show-detail-todo .heading h4 {
  font-size: 22px;
}

.todo-app .show-detail-todo .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 50px;
  width: 100%;
}

.todo-app .show-detail-todo .container .title {
  padding-left: 25px;
}

.todo-app .show-detail-todo .container .left-container {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.todo-app .show-detail-todo .container .left-container .status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.todo-app .show-detail-todo .container .left-container .deadline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.todo-app .show-detail-todo .container .left-container .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.todo-app .show-detail-todo .container .left-container .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.todo-app .show-detail-todo .container .list-subtask {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  height: 150px;
  overflow-y: auto;
}

.todo-app .show-detail-todo .container .list-subtask .subtask {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

.todo-app .todo-form {
  border-radius: 20px;
  background-color: #3d4a68;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  width: 100%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
}

.todo-app .todo-form .form-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.todo-app .todo-form .form-input input[type="text"] {
  padding: 15px;
  height: 40px;
  width: 450px;
  font-size: 20px;
  font-weight: 400;
  background-color: transparent;
  color: #e1e1e1;
  border: none;
  border-bottom: 2px solid #173f4f;
}

.todo-app .todo-form .form-input input[type="text"]:focus {
  border-bottom: 2px solid #e1e1e1;
  outline: none;
}

.todo-app .todo-form .form-input input[type="submit"] {
  border-radius: 10px;
  height: 40px;
  width: 40px;
  font-size: 30px;
  background: linear-gradient(47deg, #0f2027 19.11%, #203a43 51.09%, #2c5364 96.17%);
  color: #e1e1e1;
  border: none;
}

.todo-app .todo-form .form-input input[type="submit"]:hover {
  -webkit-box-shadow: 0px 0px 4px 1px #e1e1e1;
          box-shadow: 0px 0px 4px 1px #e1e1e1;
  cursor: pointer;
}

.todo-app .todo-form .form-input input[type="submit"]:active {
  border: 1px solid #e1e1e1;
}

.todo-app .todo-progress {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  border-radius: 20px;
  height: 100%;
  background-color: #3d4a68;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

.todo-app .todo-progress .circular-Bar {
  display: block;
  max-width: 100%;
  max-height: 125px;
}

.todo-app .todo-progress .circular-Bar .circular-bg {
  fill: none;
}

.todo-app .todo-progress .circular-Bar .circle {
  fill: none;
}

.todo-app .todo-progress .circular-Bar .persentage {
  font-size: 1.3rem;
  text-anchor: middle;
  fill: #e1e1e1;
  font-weight: bold;
}

.todo-app .todo-list {
  border-radius: 20px;
  background-color: #3d4a68;
  padding: 20px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.todo-app .todo-list .list-component {
  list-style: none;
  overflow-y: auto;
  scrollbar-width: thin;
  height: 100%;
  padding-right: 20px;
  margin-right: -20px;
}

.todo-app .todo-list .list-component::-webkit-scrollbar {
  width: 5px;
}

.todo-app .todo-list .list-component::-webkit-scrollbar-track {
  background: #173f4f;
}

.todo-app .todo-list .list-component::-webkit-scrollbar-thumb {
  background-color: #e1e1e1;
  border-radius: 10px;
  border: 3px solid #e1e1e1;
}

.todo-app .todo-list .list-component .todo {
  height: 60px;
  border: 1px solid #e1e1e1;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 10px 20px 15px;
  border-radius: 10px;
  background-color: #173f4f;
  color: #e1e1e1;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 18px;
}

.todo-app .todo-list .list-component .todo .todo-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.todo-app .todo-list .list-component .todo button {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  color: #e1e1e1;
  background: linear-gradient(47deg, #0f2027 19.11%, #203a43 51.09%, #2c5364 96.17%);
  border: none;
  -webkit-box-shadow: 0px 0px 5px 0px #e1e1e1;
          box-shadow: 0px 0px 5px 0px #e1e1e1;
}

.todo-app .todo-list .list-component .todo button:hover {
  border: 1px solid #e1e1e1;
}

.todo-app .todo-list .list-component .todo button i {
  font-size: 16px;
}

.todo-app .todo-list .todo-list-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.todo-app .todo-list .todo-list-filter select {
  background-color: #173f4f;
  color: #e1e1e1;
  letter-spacing: 1px;
  border: none;
  height: 40px;
  width: 150px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  text-align: center;
  outline: none;
}

.todo-app .todo-list .todo-list-filter select:active {
  border: none;
  outline: none;
}
/*# sourceMappingURL=TodoComponent.css.map */